{% extends 'base/base.html' %}
{% block maincontent %}
    <div class="headline">
         <h1>{{ book.title }}</h1>
     </div>
    <div class="col-md-5 col-sm-4">
        <div class="blog-img clearfix no-flip">
               <ul class="portfolio thumbnails clearfix no-flip" >
                    <li data-type="html" class="col-md-3 col-sm-6 col-xs-6 item portfolio-item">
                        <a href="project-details.html">
                            <img src="{{ book.image }}" alt="" class="img-responsive">
                            <div class="image-overlay-bg">
                                <div class="image-overlay-link"> </div>
                            </div>
                        </a>
                        <div class="rw-details text-center">
                            <h5>Venenatis Lobortis</h5>
                            <p>In rutrum nibh arcu sit amet lae</p>
                        </div>
                    </li>
               </ul>
        </div>
    </div>
    <div class="col-md-7 col-sm-8">
            <p>
                <h3>Desctiption:</h3>{{ book.description }}
            </p>
            <p>
                <h3>Author:</h3>{{ book.author }}
            </p>
            <p>
                <h3>Publisher:</h3>{{ book.publisher }}
            </p>
            <p>
                <h3>pages:</h3>{{ book.language }}
            </p>
        <a href="{{ book.download }}" class="btn btn-theme"> Download</a>
    </div>
{% endblock %}