{% extends 'base/base.html' %}
{% block maincontent %}
    <div class="headline">
         <h1>{{ book.title }}</h1>
     </div>
    <div class="col-md-5 col-sm-4">
        <div class="blog-img clearfix no-flip">
                <a href="single-post-left.html">
                    <img src="{{ book.image }}" alt="{{ book.title }}" class="img-responsive" style="width: 200px;height: 231px;" />

                </a>
            </div>
    </div>
    <div class="col-md-7 col-sm-8">
            <p>
                <h3>Desctiption:</h3>{{ book.description }}
            </p>
            <p>
                <h3>Author:</h3>{{ book.author }}
            </p>
            <p>
                <h3>Publisher:</h3>{{ book.publisher }}
            </p>
            <p>
                <h3>Language:</h3>{{ book.language }}
            </p>
        <a href="{{ book.download }}" class="btn btn-theme"> Download</a>
    </div>
{% endblock %}