<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'base/meta.html' %}
    <!-- Bootstrap core CSS -->

</head>
<body>
<a><button>Back to folio</button></a>
<script>
  (function() {
    var cx = 'partner-pub-6195276590359835:5620953709';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
{% include 'base/googleadds/infoaddsintigration.html' %}
</body>
</html>