{% extends 'base/base.html' %}
{% block maincontent %}
{% include 'base/googleana.html' %}
<div class="content-block">
     <div class="headline">
         <h1>Books</h1>
     </div>

     <div class="content-block portfolio-block clearfix portfolio-col-4">
        <div class="clearfix">
            <!--
            <ul id="filtrable" class="clearfix" >
               <li ><a href="#" class="all">All</a></li>
               <li ><a href="#" class="html">Html</a></li>
               <li ><a href="#" class="foundation">Foundation</a></li>
               <li > <a href="#" class="php">PHP</a></li>
               <li ><a href="#" class="bootstrap">Bootstrap</a></li>
                <li><a href="#" class="all">All</a></li>
               <li ><a href="#" class="html">Html</a></li>
               <li ><a href="#" class="foundation">Foundation</a></li>
               <li > <a href="#" class="php">PHP</a></li>
               <li ><a href="#" class="bootstrap">Bootstrap</a></li>
                <li><a href="#" class="all">All</a></li>
               <li ><a href="#" class="html">Html</a></li>
               <li ><a href="#" class="foundation">Foundation</a></li>
               <li > <a href="#" class="php">PHP</a></li>
               <li ><a href="#" class="bootstrap">Bootstrap</a></li>
            </ul>
            -->
        </div>

        <ul class="portfolio thumbnails clearfix no-flip" >
            {% for book in books %}
            <li data-type="html" class="col-md-3 col-sm-6 col-xs-6 item portfolio-item">
                <a href="{{ book.get_absolute_url }}">
                    <img src="{{ book.image }}" alt="{{ book.title }}" class="img-responsive" style="width:200px;height:231px;">
                    <div class="image-overlay-bg">
                        <div class="image-overlay-link"> </div>
                    </div>
                </a>
                <div class="rw-details text-center">
                    <h5>{{ book.title|truncatechars:40 }}</h5>
                </div>

            </li>

            {% endfor %}
        </ul>
    </div><!-- End .content-block-->
    <hr />
     <div class="headline">
         <h1> New Books</h1>
     </div>
     <div class="content-block portfolio-block clearfix portfolio-col-4">
        <ul class="portfolio thumbnails clearfix no-flip" >
            {% for book in recent_books %}
            <li data-type="html" class="col-md-3 col-sm-6 col-xs-6 item portfolio-item">
                <a href="project-details.html">
                    <img src="{{ book.image }}" alt="{{ book.title }}" class="img-responsive" style="width:200px;height:231px;">
                    <div class="image-overlay-bg">
                        <div class="image-overlay-link"> </div>
                    </div>
                </a>
                <div class="rw-details text-center">
                    <h5>{{ book.title|truncatechars:40 }}</h5>
                </div>

            </li>

            {% endfor %}
        </ul>
    </div><!-- End .content-block-->
     <hr />

</div><!-- End .content-block-->
{% endblock %}