{% extends 'base/base.html' %}
{% block maincontent %}
{% include 'base/googleana.html' %}
<div class="content-block">
     <div class="headline">
         <h1>Books</h1>
     </div>
        {% include 'base/googleadds/homepage1.html' %}
     <div class="content-block portfolio-block clearfix portfolio-col-4">
        <div class="clearfix">

            <ul id="filtrable" class="clearfix" >
                {% for tag in tags%}
               <li ><a href="http://127.0.0.1:8000/search/?query={{ tag.name }}" class="all">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>

        </div>

        <ul class="portfolio thumbnails clearfix no-flip" >


            {% for book in books %}
            <li data-type="html" class="col-md-3 col-sm-6 col-xs-6 item portfolio-item">
                <a href="{{ book.get_absolute_url }}">
                    <img src="{{ book.image }}" alt="{{ book.title }}" class="img-responsive" style="width:200px;height:231px;">
                    <div class="image-overlay-bg">
                        <div class="image-overlay-link"> </div>
                    </div>
                </a>
                <div class="rw-details text-center">
                    <h5>{{ book.title|truncatechars:25 }}</h5>
                </div>

            </li>

            {% endfor %}

        {% if books == None %}
        <h3>Sorry No Books Found</h3>
        {% endif %}
        </ul>
    </div><!-- End .content-block-->
    <hr />
     <div class="headline">
         <h1> New Books</h1>
     </div>
    {% include 'base/googleadds/homepage2.html' %}
     <div class="content-block portfolio-block clearfix portfolio-col-4">
        <ul class="portfolio thumbnails clearfix no-flip" >
            {% for book in recent_books %}
            <li data-type="html" class="col-md-3 col-sm-6 col-xs-6 item portfolio-item">
                <a href="{{ book.get_absolute_url }}">
                    <img src="{{ book.image }}" alt="{{ book.title }}" class="img-responsive" style="width:200px;height:231px;">
                    <div class="image-overlay-bg">
                        <div class="image-overlay-link"> </div>
                    </div>
                </a>
                <div class="rw-details text-center">
                    <h5>{{ book.title|truncatechars:25 }}</h5>
                </div>

            </li>

            {% endfor %}
        </ul>
    </div><!-- End .content-block-->
     <hr />

</div><!-- End .content-block-->
{% endblock %}