{% extends 'base/base.html' %}

{% block main_content %}
    <section id="content">


        <div class="container">

            <div class="card">
                <div class="card-header">
                    <h2>Search Tags
                        <small>You can simply search for specifin......
                        </small>
                    </h2>
                </div>
                <div class="card-body card-padding">

                    <div class="btn-demo">
                        {% for tag in tags %}
                            <button class="btn btn-default btn-icon-text" style="margin-bottom: 10px;"><i
                                    class="zmdi zmdi-tag"></i>{{ tag.name }}</button>
                        {% endfor %}
                    </div>

                </div>
            </div>
            <div class="block-header">
                <h2>Search Results :- {{ query }}</h2>
            </div>
            <div class="row">
                {% for book in page.object_list %}
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header bgm-cyan m-b-20">
                                <h2>{{ book.title|truncatechars:20 }}</h2>
                                <ul class="actions actions-alt">
                                    <li class="dropdown">
                                        <a href="" data-toggle="dropdown">
                                            <i class="zmdi zmdi-share"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href=""><i class="zmdi zmdi-facebook zmdi-hc-2x"></i></a>
                                            </li>
                                            <li>
                                                <a href=""><i class="zmdi zmdi-twitter zmdi-hc-2x"></i></a>
                                            </li>
                                            <li>
                                                <a href=""><i class="zmdi zmdi-linkedin zmdi-hc-2x"></i></a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                                <a href="{{ book.get_absolute_url }}">
                                    <button class="btn bgm-deeporange btn-float waves-effect"><i
                                            class="zmdi zmdi-download"></i>
                                    </button>
                                </a>

                            </div>

                            <div class="card-body card-padding">
                                <img src="{{ book.image }}" alt="{{ book.title }}" class="img-responsive"
                                     style="height:231px;width: 180px;margin-left: 15px;">

                            </div>
                        </div>

                    </div>
                {% endfor %}
                {% if page %}

                    <ul class="pagination">
                        {% if page.has_previous %}
                            <li>
                                <a href="?query={{ query }}&page={{ page.previous_page_number }}" aria-label="Previous"
                                   style="background-color: #00BCD4;">
                                    <i class="zmdi zmdi-chevron-left" style="color: antiquewhite;"></i>
                                </a>
                            </li>
                        {% endif %}

                        {% if page.has_next %}
                            <li>
                                <a href="?query={{ query }}&page={{ page.next_page_number }}" aria-label="Next"
                                   style="background-color: #00BCD4;">
                                    <i class="zmdi zmdi-chevron-right" style="color: antiquewhite;"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>

                {% endif %}

            </div>

        </div>


    </section>
{% endblock %}
