<footer class="main-footer">
<div class="container">
    <div class="row">
         <a href="#" class="top-btn theme-color"> <i class="fa fa-angle-up"></i></a>
         <div class="section-header">
                <h2 class="text-center">About Folio</h2>
         </div>
         <p class="text-center">Folio is a website designed to provide its users with downloadable e-books.
             With a strong database of 4000+ top quality I.T. books,
             Folio is one of the best directory of free e-books one can find online.
             All ebooks on the site are free to download.</p>
         <p class="text-center">
            <!--<span class="email-box"><i class="fa fa-envelope"></i> <a class="no-flip email-id" href="mailto:email@domainname.com">email@domainname.com</a> </span>-->
         </p>

         <!-- Social icons -->
         <div class="section-header">
                <h2 class="text-center">FOLLOW US</h2>
         </div>
         <div class="social-icons text-center">
            <ul class="list-unstyled list-inline">
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
            </ul>
         </div> <!-- / Social icons -->
    </div><!-- /.row -->
</div> <!-- /.container -->

<div class="copyright-link">
        <p class="text-center">
           <!-- Copyright information. You can replace your site link here -->
            &copy; 2015 Folio.in</a> All Rights Reserved.
        </p>
</div>
</footer>