<header id="header" class="clearfix" data-current-skin="cyan">
    <ul class="header-inner">

        <li class="logo">
            <a href="{% url 'home' %}"><b style="padding-left: 2px;">Folio</b></a>
        </li>

        <li class="pull-right">
            <ul class="top-menu">
                <li id="top-search">
                    <a href=""><i class="tm-icon zmdi zmdi-search"></i></a>
                </li>
                <li>
                    <a href="{% url 'itbooks' %}"><i class="tm-icon zmdi zmdi-book-image"></i></a>
                </li>

            </ul>
        </li>
    </ul>


    <!-- Top Search Content -->
    <div id="top-search-wrap">
        <div class="tsw-inner">
            <i id="top-search-close" class="zmdi zmdi-arrow-left"></i>

            <form action="{% url 'search_results' %}" method="get">
                <input type="text" id="search-input" class="form-control" name="query"
                       placeholder="Enter the book name ...">
            </form>

        </div>
    </div>

    <button class="btn bgm-deeporange btn-float waves-effect"><i class="zmdi zmdi-share"></i>
    </button>
</header>