<div class="header-bottom" style="padding-top: 60px;">
    <div class="container">
        <div class="row" style="padding-top: 10px;">
            <div class="col-md-3 col-sm-12">
            </div>
            <form action="{% url 'home' %}" method="post">{% csrf_token %}
                <div class="col-md-6 col-sm-12">
                    <input type="text" class="form-control" name="search" placeholder="Enter the book name ...">
                </div>
                <div class="col-md-3 col-sm-12 theme-download-btn">
                    <input type="submit" class="btn btn-theme fa fa-search"> </input>
                </div>
            </form>
        </div>
    </div>
</div> <!-- /.header-bottom -->