<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="msapplication-tap-highlight" content="no">
<meta name="description" content="{% if book.description %}{{ book.description }}{% else %}
        Download free ebooks, with a strong database of 6000+ top quality I.T. books, folio is one of the best directory of free e-books one can find online
        {% endif %}">
<meta name="keywords" content="programming books ,books on computer programming
python programming book,
ios programming book,
html programming book,
free books to download,
free download books online,
free ebooks for android ,
free ebook downloads for android,
c programming book,
free programming ebooks,
best programming books ,
it ebooks,
ebook, free it books,">
<title>{% if title %}{{ title }}|{% endif %}Download free ebooks|Folio</title>
<meta property="og:image" content="{% if book.image %}{{ book.image }}{% endif %}" />