<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="msapplication-tap-highlight" content="no">
<meta name="description" content="{% if book.description %}{{ book.description }}{% else %}Folio is a website designed to provide its users with free e-books. With a strong database
                        of 6000+ top quality I.T. books, Folio is one of the best directory of free e-books one can
                        find online.{% endif %}">
<meta name="keywords" content="">
<title>{% if title %}{{ title }}|{% endif %}Folio|Download free ebooks</title>
<meta property="og:image" content="{% if book.image %}{{ book.image }}{% endif %}" />