<aside id="left-sidebar-nav">
    <ul id="slide-out" class="side-nav fixed leftside-navigation">
         <div class="fb-page" data-href="https://www.facebook.com/folio.co.in/"
                 data-small-header="true" data-adapt-container-width="true" data-hide-cover="true"
                 data-show-facepile="true">
                <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="https://www.facebook.com/folio.co.in/"><a
                            href="https://www.facebook.com/folio.co.in/">folio.co.in</a></blockquote>
                </div>
            </div>


        <!--
        <li class="bold active"><a href="{% url 'home' %}" class="waves-effect waves-cyan"><i
                class="mdi-action-dashboard"></i>Home</a>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i
                        class="mdi-action-view-carousel"></i>IT Books</a>

                    <div class="collapsible-body">
                        <ul>
                            <li><a href="layout-fullscreen.html">category1</a>
                            </li>
                            <li><a href="layout-horizontal-menu.html">category2</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        -->
        <ul>
            <li style="text-align: center;background-color: #D13135;color: white;"><b>Search Tags</b>
                </li>
            {% for tag in tags %}
                <li style="text-align: center"><a href="/search/?query={{ tag.name }}">{{ tag.name }}</a>
                </li>
            {% endfor %}
        </ul>


    </ul>

    <a href="#" data-activates="slide-out"
       class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i
            class="mdi-navigation-menu"></i></a>
</aside>